<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
           <CodeCoverage>
            <IncludeTestAssembly>False</IncludeTestAssembly>
            <AssemblyFilters>
              <Exclude>*.Tests.dll</Exclude>
              <Exclude>*.UnitTests.dll</Exclude>
            </AssemblyFilters>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>            
            <IncludeTestAssembly>False</IncludeTestAssembly>
            <AssemblyFilters>
              <Exclude>*.Tests.dll</Exclude>
              <Exclude>*.UnitTests.dll</Exclude>
            </AssemblyFilters>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
